body {
  margin:40px auto;
  max-width:1024px;
  line-height:1.6;
  font-size:18px;
  padding:0 10px;
}

p {
  text-align: justify;
}
// a {color:#03f}
// a:visited {color:#7d013e}

// /* Override styles for dark mode */
// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: black;
//         color: #d9d9d9;
//     }
// }

h1,h2,h3{
  line-height:1.2
}

code {
  font-size: 15px;
}

table, td {
  border: 1px solid;
  padding: 5px;
  border-collapse: collapse;
}

th {
  border: 1px solid;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
